{% extends "extend.twig" %}
{% set PAGE_CLASS = 'reg' %}
{% block body %}
<div class="reg-verified-form">
    <div class="ui one column grid">
        <div class="column role-target">
            <form action="/reg/complete" method="POST" accept-charset="utf-8" class="ui form role-reg-form">
                <input type="hidden" name="email" value="{{ EMAIL }}">
                <input type="hidden" name="sign_email" value="{{ SIGN_EMAIL }}">
                <input type="hidden" name="token" value="{{ TOKEN }}">
                <input type="hidden" name="sign_token" value="{{ SIGN_TOKEN }}">
                <div class="field">
                    <label>注册邮箱：{{ EMAIL }}</label>
                </div>
                <div class="field">
                    <label>用户名，长度 3~16 位，不能包含空格</label>
                    <div class="ui input">
                        <input type="text" name="username" value="" placeholder="用户名" class="role-username">
                    </div>
                </div>
                <div class="field">
                    <label>密码，长度 0~50 位</label>
                    <div class="ui input">
                        <input type="password" name="password" value="" class="role-password">
                    </div>
                </div>
                <div class="field">
                    <label>再输入一遍密码</label>
                    <div class="ui input">
                        <input type="password" name="password-repeat" value="" class="role-password-repeat">
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="accept" value="accept" class="role-accept">
                        <label>接受 OpenVJ 用户许可</label>
                    </div>
                </div>
                <div class="center aligned one column row">
                    <button type="submit" class="ui right labeled icon green button role-reg-complete">
                        <i class="right checkmark icon"></i>完成注册
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>require(['regVerified']);</script>
{% endblock %}